html {
    height: 100%
}

body {
    min-height: 100%;
    font-family: 'Comfortaa', cursive;
    margin : 0;
    padding:0;
    width : 100%;
    font-size: 30px;
    background: #0086d7;
}

#body-section{
    display: flex;
    min-height: 100%;
}

main {
    background-color: rgb(255, 255, 255);
    width: 80%;
}

/*********** WEATHER ***********/

#main-section {
    display: flex;
    flex-direction: column;
    background: #0086d7;
    justify-content: center;
    align-items: center;
}
#city-name {
    font-size: 48px;
    color: white;
    height: 40%;
}
ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
li {
    text-align: center;
    inline-size: 25%;
    min-height: 200px;
}
li:hover {
    background-color: rgba(19, 18, 18, 0.893);
}
/*********** DEFAULT ***********/
#weatherInfo {
    color: white;
}
.fa-meteor {
    font-size: 128px;
    color: white;
    justify-content: center;
    align-items: center;
}
.hidden {
    color: black;
}
/*********** FAVORIS ***********/

aside {
    background-color: #0086d7;
    color: white;
    width: 20%;
    min-height: 100%;
}