body {
    display: flex;
    margin : 0;
    padding:0;
    width : 100%;
    font-size: 30px;
}

main {
    background-color: rgb(255, 255, 255);
    width: 80%;
}

/*********** WEATHER ***********/

#main-section {
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
li {
    inline-size: 25%;
    min-height: 200px;
}
li:hover {
    background-color: rgba(19, 18, 18, 0.893);
}
/*********** DEFAULT ***********/
#weatherInfo {
    color: yellow;
}
.fa-meteor {
    font-size: 128px;
    color: yellow;
    justify-content: center;
    align-items: center;
}
/*********** FAVORIS ***********/

aside {
    background-color: rgb(238, 238, 238);
    width: 20%;

}