
h1 {
	display: flex;
	justify-content: center;
}

#search{
	display: flex;
	justify-content: center;
}
#validate{
	display: flex;
	justify-content: center;
}
#fav{
	display: flex;
	justify-content: center;
}
#affichage{
	display: flex;
	justify-content: center;
}
#inputType{
	margin-bottom: 20px;
}
#searchBox{
	margin-bottom: 10px;
}
#validateButton{
	margin-bottom: 20px;
}