body {
    font-family: 'Roboto Mono', monospace;
    color: #0968b1cf;
    background-color: #01030e;
}

#timer {
    transition: color 0.5s;
    font-size: 128px;
}

#button-section {
    
    display: flex;
    align-items: center;
    font-size: 128px;
    justify-content: center;
}

i {
    transition: color .5s;
    color: #0968b1cf;
    cursor: pointer;
}

i:hover {
    color: #00aaf1;
}
i.disabled {
    cursor: not-allowed;
}
i.disabled:hover {
    color:#01030e;
}

.fa-stop {
    color: #ca0223b0;
}
.fa-stop:hover {
    color: #ca0224;
}

.disabled {
    color : #030720;
    /*color: #69b7ff46;*/
}



#tour {
    font-size: 48px;
}

#parent-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.section {
    margin: 0 20px 0 20px;
}
/*
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 0px;
    height: 1px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 0%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -1s;
  }
  @keyframes lds-ripple {
    0% {
      top: 100px;
      left: 250px;
      width: 600px;
      height: 50px;
      opacity: 1;
    }
    100% {
      top: 100px;
      left: 250px;
      width: 600px;
      height: 50px;
      opacity: 0;
    }
  }*/